footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
.social-links {
    margin-top: 10px;
    text-align: center;
}
.social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 24px;
}
.social-links img {
    width: 32px;
    height: 32px;
}
.contact-link {
    display: block;
    margin-top: 20px;
    color: #7e7e7e;
    text-decoration: none;
    font-size: 18px;
}
.introduction {
    margin-top: 40px;
    text-align: center;
}